.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*own style*/

header {
  position: fixed;
  padding: 10px 0 0;
  width: 100%;
  background-color: lightblue;
  top: 0;
  left: 0;
}

.header_content {
  width: 300px;
  margin: 0 auto;
}

.header_title {
  display: block;
  float: left;
  font-size: 24px;
  font-family: arial, sans-serif;
  color: white;
}

.main {
  width: 950px;
  margin: 90px auto;
  text-align: center;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

ul {
  list-style: none;
  margin-top: 30px;
}

li {
  margin-top: 15px;
  margin-bottom: 15px;
}
